In [3]:
import pandas as pd
import numpy as np
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([6,1,3,5,7,9])
print(ds1+ds2)
print(ds1-ds2)
print(ds1*ds2)
print(ds1/ds2)

0     8.0
1     5.0
2     9.0
3    13.0
4    17.0
5     NaN
dtype: float64
0   -4.0
1    3.0
2    3.0
3    3.0
4    3.0
5    NaN
dtype: float64
0    12.0
1     4.0
2    18.0
3    40.0
4    70.0
5     NaN
dtype: float64
0    0.333333
1    4.000000
2    2.000000
3    1.600000
4    1.428571
5         NaN
dtype: float64

In [8]:
#Write a Pandas program to compare the elements of the two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
print(ds1)
print(ds2)
# for any comparision the len of both the series is same
print(ds1==ds2)
print(ds1>ds2)
print(ds1<ds2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [10]:
#Write a Pandas program to convert a NumPy array to a Pandas series.
#NumPy array:[10 20 30 40 50]
npArray=np.array([10,20,3,0,40,50])
pdArray=pd.Series(npArray)
print(pdArray)

0    10
1    20
2     3
3     0
4    40
5    50
dtype: int32

        #Write a Pandas program to change the data type of given a column or a Series
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [21]:
npArray = [100,200.0,'40',300.12,400]
pd.to_numeric(pd.Series(npArray))

0    100.00
1    200.00
2     40.00
3    300.12
4    400.00
dtype: float64