In [ ]:
#creation of Tuple
tupleOne=(2,3,6,54,8,2,8,2,58,4,56)
print(type(tupleOne),tupleOne)
tupleTwo=(2)
print(type(tupleTwo))
tupleThree=2,
print(type(tupleThree))
#the 'comma'(',') sign is importan for defining the tuple, if the comma is not there then it will not  consider as tuple

In [ ]:
tupleThree=('rakesh',1,True)
print(tupleThree)

In [ ]:
tupleThree=(1,2)
print(tupleThree)
tupleThree=(3,5)
print(tupleThree)

In [ ]:
#Accessing the elemetns of the tuple

#indexing and slicing is possible

#Accesing by indexing

n=len(tupleOne)
for i in range(n):
    print(tupleOne[i],end=' ')
print(end='\n')

#Accessing the element by jump of 2
for i in range(0,n,2):
    print(tupleOne[i],end='   ')
print(end='\n')

#accessing the elemnt from randonm index
for i in range(5,n,1):
    print(tupleOne[i],end=' ')
print(end='\n')

#Accesing the element from last in reverse
for i in range(n-1,-1,-1):
    print(tupleOne[i],end=' ')
for i in range(n-1,-1,2):
    print(tupleOne[i])

#slicing
print(tupleOne[::])
print(tupleOne[1::])
print(tupleOne[1::2])
print(tupleOne[1:10:3])
#negative slicing

print(tupleOne[::-2])
print(tupleOne[10:-1:-1])
print(tupleOne[10:0:-1])
print(len(tupleOne))
#how to print 0th index in tuple

In [16]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [17]:
print(tupleOne.__len__())

NameError: name 'tupleOne' is not defined

## Upadting a tuple
# A tuple is immutable we can't change any tuple we can only update the mutable element into the tuple.
a=1,2,3,4,5,5,6
print(a.pop())
a=1,2,3,4,5,5,6
print(a.append(7))
a=1,58,7,2,8,2,[1,5,8,6,78]
a[-1].pop()
a=1,58,7,2,8,2,[1,5,8,6,78]
a[-1].pop(2)
a[-1].append('rakesh')

In [21]:
a=1,2,3,4,5,5,6
print(a.append(7))

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
a=1,58,7,2,8,2,[1,5,8,6,78]
a[-1].pop()

78

In [24]:
a=1,58,7,2,8,2,[1,5,8,6,78]
a[-1].pop(2)

8

In [18]:
a[-1].append('rakesh')
print(a)

(1, 58, 7, 2, 8, 2, [1, 5, 6, 78, 'rakesh', 'rakesh'])

In [26]:
print(max(a))
print(a)
#we can only use max() for same data type

TypeError: '>' not supported between instances of 'list' and 'int'

In [29]:
#Operation on tuples
print(a+(1,2,3,6,8,5,9))

print(a*2)

for i in a:
    print(i)

(1, 58, 7, 2, 8, 2, [1, 5, 6, 78], 1, 2, 3, 6, 8, 5, 9)
(1, 58, 7, 2, 8, 2, [1, 5, 6, 78], 1, 58, 7, 2, 8, 2, [1, 5, 6, 78])
1
58
7
2
8
2
[1, 5, 6, 78]

In [35]:
b=(1,2,3,4,5,5,6)
print(type(b))
print(sorted(b))
print(type(sorted(b)))

<class 'tuple'>
[1, 2, 3, 4, 5, 5, 6]
<class 'list'>

In [40]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples
#Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
#Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

#Method 1
t=[(2,5),(1,2),(4,4),(2,3),(2,1)]
for i in range(5):
    for j in range(4):
        if t[j][1]>t[j+1][1]:
            t[j],t[j+1]=t[j+1],t[j]
print(t)
#Method 2
def lst(tuples):
    return sorted(tuples, key=last)   
print(lst([(2,5),(1,2),(4,4),(2,3),(2,1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]